/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2016, 5:04:58 PM
    Author     : wrosmon
*/

h1 {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-size: 140%;
    color: #FF8C00;
}

h2 {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-size: 125%;
    color: #FF8C0F;
    text-align: center;
}

h3 {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-size: 110%;
    color: #FF8CFF;
}

#title {
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #7FFFA9;
    color: black;
}

#login {
    float: right;
}

#disclaimer {
    font-size: 10;
    color: black;
    text-align: center;
}

.navigation {
    float: left;
    padding-right: 100px;
}

.vendorName {
    align-content: center;
    font-weight: bold;
}